site_name: cabfile
site_description: Windows cabinet (.cab) reader for Python
site_url: https://github.com/kristjanvalur/cabfile

theme:
  name: mkdocs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
          options:
            show_source: false
            show_root_heading: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - API: api.md
