name: Docs

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.11"
          enable-cache: true

      - name: Build docs
        run: uvx --from mkdocs --with mkdocstrings-python mkdocs build --strict
